afwijzer_flows.json
[{"id":"e585aa15.974a38","type":"mqtt out","z":"b8572176.6287a","name":"Post Weather","topic":"","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"dbb285ec.7c8778","x":1360,"y":760,"wires":[]},{"id":"fa40e262.97a4d","type":"inject","z":"b8572176.6287a","name":"repeat 4h","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"14400","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":760,"wires":[["71848329.c77e0c"]]},{"id":"f76a238f.b6ba7","type":"function","z":"b8572176.6287a","name":"split payload","func":"msg.payload = msg.payload.ophaaldagen\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":760,"wires":[["7aae36fb.375df8"]]},{"id":"71848329.c77e0c","type":"http request","z":"b8572176.6287a","name":"Afvalwijzer","method":"GET","ret":"txt","paytoqs":"body","url":"https://api.mijnafvalwijzer.nl/webservices/appsinput/?apikey=5ef443e778f41c4f75c69459eea6e6ae0c2d92de729aa0fc61653815fbd6a8ca&method=postcodecheck&postcode=5281HZ&street=&huisnummer=11&toevoeging=&app_name=afvalwijzer&platform=phone&mobiletype=android&afvaldata=2022-01-01&version=58&langs=nl","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":760,"wires":[["b15f4696.2d8dc8"]],"icon":"font-awesome/fa-paper-plane-o","info":"https://api.mijnafvalwijzer.nl/webservices/appsinput/?apikey=5ef443e778f41c4f75c69459eea6e6ae0c2d92de729aa0fc61653815fbd6a8ca&method=postcodecheck&postcode=5281LC&street=&huisnummer=27&toevoeging=&app_name=afvalwijzer&platform=phone&mobiletype=android&afvaldata=2022-01-01&version=58&langs=nl"},{"id":"d7e6bd54.6da81","type":"comment","z":"b8572176.6287a","name":"Afvalwijzer","info":"\n\nstripped API command : \n\nInsert your Postcode and address\nTEST FIRST in browser\n\nhttps://api.mijnafvalwijzer.nl/webservices/appsinput/?apikey=5ef443e778f41c4f75c69459eea6e6ae0c2d92de729aa0fc61653815fbd6a8ca&method=postcodecheck&postcode=5281LC&street=&huisnummer=27&toevoeging=&app_name=afvalwijzer&platform=phone&mobiletype=android&afvaldata=2022-01-01&version=58&langs=nl\n\napikey from:\nhttps://github.com/xirixiz/homeassistant-afvalwijzer","x":120,"y":700,"wires":[]},{"id":"b15f4696.2d8dc8","type":"json","z":"b8572176.6287a","name":"","property":"payload","action":"","pretty":false,"x":430,"y":760,"wires":[["f76a238f.b6ba7","4b253cba.c22344"]]},{"id":"7aae36fb.375df8","type":"function","z":"b8572176.6287a","name":"Make Afval Mqtt Message","func":"const months={0:\"Jan\",1:\"Feb\",2:\"Mar\",3:\"Apr\",4:\"Mei\",5:\"Jun\",6:\"Jul\",7:\"Aug\",8:\"Sept\",9:\"Okt\",10:\"Nov\",11:\"Dec\"};\nconst nty = new Array(4);\nconst typ = new Array(4);\nconst dat = new Array(4);\nconst dte = new Array(4);\nconst dtu = new Array(4);\n\nconst nametype1 = \"papier\";\nconst nametype2 =  \"plastic\";\nconst nametype3 = \"gft\";\nconst nametype4 = \"restafval\";\nvar checktype1 = 1;\nvar checktype2 = 1;\nvar checktype3 = 1;\nvar checktype4 = 1;\n\nvar newmsg = {\"payload\" : \"\"} ;\nvar d = new Date();\nvar dd= d.getFullYear()*10000 + (d.getMonth()+1)*100 + d.getDate();\nvar l = msg.payload.data.length;\nvar c = 0;\n//node.warn(\"lenght is \" + l +  \" date is\" + d);\n\nfor (var i = 0; i < l; i++){\n\nvar s = msg.payload.data[i].date; // yyyy-mm-dd\nvar su = Date.parse(s) // unix time\nvar ss= new Date(su); // node red time stamp\n//node.warn(\"date \" + s +  \" time\" + ss);\nvar st = ss.getDate() + \" \" + months[ss.getMonth()];\nvar ds = s.replace('-',\"\");ds = ds.replace('-',\"\"); // 2 times\nvar dt = parseInt(ds); // make int\n\n\nif( dt>=dd )\n    {\n    var checknext = 0    \n    switch(msg.payload.data[i].nameType) {\n        case nametype1 :\n         if(checktype1 ==1 ) {checktype1 =0; checknext=1}\n         break;\n        case nametype2 :\n         if(checktype2 ==1 ) {checktype2 =0; checknext=1}\n         break;\n        case nametype3 :\n         if(checktype3 ==1 ) {checktype3 =0; checknext=1}\n         break;\n        case nametype4 :\n         if(checktype4 ==1 ) {checktype4 =0; checknext=1}\n         break;         \n        default:\n        // code block\n        }\n\n    if(checknext == 1){    \n            nty[c] = msg.payload.data[i].nameType;\n            typ[c] = msg.payload.data[i].type;\n            dat[c] = s;\n            dtu[c] = su;\n            dte[c]= st;\n            if (dt==dd ) dte[c]= \"vandaag\";\n                else if (dt==dd+1 ) dte[c]= \"morgen\";\n                else if (dt==dd+2 ) dte[c]= \"overmorgen\";\n\n            newmsg.topic = \"nodered/sensor/AFV/\" + nty[c] + \"/state\"    \n            newmsg.payload = { \n            \"device\" : \"AFV\",\n            \"name\": \"Afvalwijzer\",\n            \"sequence\" : c,\n            \"ntype\" : nty[c],\n            \"type\" : typ[c],\n            \"datum\" : dat[c],\n            \"text\" : dte[c],\n            \"epoch\" : dtu[c] }\n            c=c+1;\n            node.send(newmsg);\n            }\n    }\nif (c==4) {i = l} // mark end of loop\n}\n    \n\nnode.done();\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":760,"wires":[["4b253cba.c22344","e585aa15.974a38"]]},{"id":"dbb285ec.7c8778","type":"mqtt-broker","name":"Raspi mqtt","broker":"192.168.200.21","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"120","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]